
body{
/*   
   background-image:linear-gradient(to bottom,rgba(128, 139, 119, 0.6)),url('/img2.jpg'); */
   background-image:url('/.jpg');
  
   background-repeat: no-repeat;
   background-size: cover;
  }
p{
   color: red;
}
.Home{
   color: red;
}
.heading{
   color: white;
}
a{
   color: white;
   text-decoration: none;
}
.header{
 margin-left: 120px;
 display:flex;
 align-items: center;
 gap:30px;
}
.content{
   margin: 30px;
   margin-top: 50px;
}
.learnmore{
   background-color: red;
   color: white;
   border-radius: 6px;
   font-size: 20px ;
   padding: 5px;
}
.lorem{
   color: white;
}


 
